header{
    background-color: #202c34;
    color: aliceblue;
    font-size: 10px;
    font-family:"Varela Round", sans-serif;
    padding: 15px, 15px, 15px, 20px;
    grid-column: 1/3;
    grid-row: 1;
}

h1, #label {
    display: inline;
    vertical-align: middle;
    padding: 5px;
}

img{
    width: auto;
    height: 20px;
}
