aside{
    grid-column: 1;
    grid-row: 2;
    padding: 30px;
    background-color: white;
    margin: 0px;
    vertical-align: middle;
}

aside > p:hover{
    cursor: pointer;
    background-color: var(--bgcolor);
}