/* Coded by: Jada-Marie Dotting */


body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 80% ;
    grid-template-rows: 7% 100vh;
    background: white;
    height: 100%;
}

main {
    grid-column: 2; 
    grid-row: 2; 
    flex-direction: column; 
    background-color: #f3f4f6;
    height: 100%; 
    padding: 30px 30px 30px 40px;
    min-height: 100vh;

}

form {
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    border-radius: 8px;
}

.col-1 {
    float: left;
    width: 50%;
    margin-top: 6px;
  }
  
.col-2 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight:200;
}
  
/* Style for each input group (label + input) */
.input {
    display: flex;
    flex-direction: column; 
    margin: 10px;
}

input[type="text"], input[type="password"], select {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    background-color: white;
    font-size: 15px;
}

input[type="text"], input[type="password"]{
    margin-bottom: 20px;
}

.btn-container{
    background-color: #f5f6f8;
    padding: 2px 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex; 
    justify-content: flex-end; 

}
/* Styling for the submit button */
#button {
    padding: 10px;
    background-color: #5044e4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 6em;
    font-weight: bold;
    font-size: 15px;
}

#contactButton {
    padding: 15px;
    background-color: #5044e4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    font-weight: bold;
    font-size: 15px;
    padding-right: 30px;

}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-1, .col-2, input[type=submit] {
      width: 100%;
      margin-top: 0;
    } 
}