.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

header{
    background-color: #202c34;
    color: aliceblue;
    font-size: 10px;
    font-family:"Varela Round", sans-serif;
    padding: 10px;
}

img{
    width: auto;
    height: 20px;
}

.Header h1, img {
    display: inline;
    vertical-align: middle;
    padding: 10px;
}

#form {
    display: flex;
    justify-content: center;
    margin: auto;
    font-family:"Varela Round", sans-serif;

}
input{
    padding: 15px;
    border-radius: 10px;
}

.input{
    padding: 20px;
}

#button{
    background-color: blueviolet;
    color: aliceblue;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: 10px;
    width:100%;
}


main{
    align-items: center;
    min-height: 50vh;
    padding-top: 150px;


}

footer{
    display: flex;
    justify-content: center;
}