/* Coded by: Jada-Kay Williams and Ashle Johnson*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=SUSE:wght@100..800&display=swap');

:root{
    --bgcolor: rgb(238, 238, 238);
    --filtercolor:rgb(65, 65, 65);
}


.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

header{
    background-color: #202c34;
    color: aliceblue;
    font-size: 10px;
    font-family:"Varela Round", sans-serif;
    padding: 10px;
}

img{
    width: auto;
    height: 20px;
}

.Header h1, img {
    display: inline;
    vertical-align: middle;
    padding: 10px;
}


#head{
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0;
    padding: 30px, 0px;
}

button {
    padding: 7px;
    color: white;
    background-color: rgb(5,0,73);
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border:none;
}

button:hover {
    cursor:pointer;
}

#head h2, button{
    display: inline;
}



.box {
    width: 750px;
    height: 450px;
    border: 1px solid #cdd2dc;  
    background-color: white;
    border-radius: 3%;
    padding: 5%;
  }

body{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto 100vh;
    background-color: var(--bgcolor);
}

main {
    background-color: #e6e4e4;
    /*padding: 10px;*/
}

main{
    grid-column: 2;
    grid-row: 2;
    justify-content: left;
    padding: 50px;
    margin: 0px;
    grid-row: 2;
}

table {
    width:90%;
    padding: 3%;
}


#head_table {
    background-color: rgb(224, 225, 229);
    text-align: left;
}



footer{
    display: flex;
    justify-content: center;
}

.navitext, .navicons{
    display: inline-flex;
    align-items: center;
}


.Users {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 30px;
}

